* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .blue {
    background-color: #d2eaf4;
  }
  
  .orange {
    background-color: #efc48f;
  }
  
  .pink {
    background-color: #eecfcd;
  }
  .general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .pretitle-container img {
    width: 40px;
  }
  .pretitle-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .pretitle {
    font-size: 0.5rem;
    align-self: flex-start;
  }
  
  .button_link {
    transform: rotate(0deg);
    max-width: 200px;
    max-height: 50px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .img-container img {
    width: 100%;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    padding: 10px 20px;
  }
  .number {
    font-size: 2rem;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  @media (min-width: 900px) {
    .general-container {
      display: grid;
      .main {
        grid-area: main;
      }
      .cards-container {
        grid-area: cards;
      }
      .slide-img {
        grid-area: slide;
      }
  
      grid-template:
        "main main slide"
        "main main slide"
        "cards cards slide" auto;
    }
  
    .main {
      flex-direction: row;
      gap: 20px;
    }
    .text-container {
      width: 40%;
      align-items: flex-start;
    }
  
    .pretitle-container img {
      width: auto;
      position: absolute;
      top: 0;
      left: 400px;
    }
    .title {
      font-size: 4rem;
    }
  
    .cards-container {
      flex-direction: row;
      gap: 20px;
    }
  }