@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Imbue:opsz,wght@10..100,100..900&family=Lexend:wght@100..900&family=Lilita+One&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}
body {
    background-color: #f2f2f2;
}
.layout {
    display: grid;
    grid-template-areas: 
        "text"
        "images";
    height: 100vh;
    
}

.main-text {
    grid-area: text;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h1 {
        margin-top: 2rem;
        font-size: 3vw;
    }

    p {
        margin-top: 2rem;
        font-size: 1.3vw;
    }

    button {
        margin-top: 1.6rem;
        font-size: 1.7vw;
        padding: 15px 3rem;
        border-radius: 40px;
        border: none;
        background-color: #2f2f2f;
        color: #fff;
    }


}

.info-container {
    display: flex;
    background-color: #fff;
    margin-top: 5rem;
    justify-self: center;
    padding: 50px;
    justify-content: space-around;
    border-radius: 40px;
    gap: 10%;
    width: 66vw;    
    text-align: left;

    .card-title {
        font-size: 1.3vw;
    }

    hr {
        width: 30%;
        margin-top: 1rem;
        color: #000;
        background-color: #000;
        height: 4px;
    }

    .card-text {
        margin-top: 1rem;
        font-size: 1vw;
    }
}

.images-section  {
    grid-area: images;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(411px, 1fr));
    margin-top: 4rem;
    position: relative;
    bottom: 14vw;
    z-index: -1;

    .top-image {
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;
        img {
            width: 91vw;
        }
    }

    .bottom-first, .bottom-second, .bottom-third {
        justify-self: center;
        margin-top: 2rem;
        align-self: center;
        img {
            width: 25vw;
        }
    }

}


@media screen and (max-width: 767px) {
    
    .main-text {

        .title {
            font-size: 6vw;
        }

        .main-text {
            font-size: 3vw;
        }

        button {
            font-size: 3vw;
            padding: 10px 2rem;
        }

        .info-container {
            width: 90vw;
            height: fit-content;
            padding: 2rem;
            text-align: center;
            .card-title {
                font-size: 3vw;
                margin-top: 0;
            }

            hr {
                margin-top: 0.7rem;
                justify-self: center;
                align-self: center;
                margin-left: 1.4rem;
            }

            .card-text {
                font-size: 1.5vw;
                text-align: center;
            }
        }
    }

    .images-section {
        bottom: 30vw;
        display: flex;
        flex-direction: column;

        .bottom-first, .bottom-second, .bottom-third {
            img {
                width: 50vw;
            }
        }
    } 
}